h1 {
    background: green;
}

h1:hover {
    background: #ccc;
}

h2 {
    color: yellow;
}

.link {
    color: brown;
    font-weight: bold;
}

.link:hover {
    color: #ccc;
}

input:checked+label {
    color: red;
}
